.container{display: grid;
    grid-template-columns: repeat(1fr 1fr 1fr);
grid-gap:10px ;
grid-column: 3/3;
grid-template-columns: repeat(4,300px);

height: 100vh;
}
img{
    
    
}
body{ margin:0px;
       padding:0px;
    }

item{
    display: grid;
}
