.container{display: grid;
            grid-template-columns: repeat(1fr 1fr 1fr);
        grid-gap:10px ;
        grid:4/4;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 100vh;
        
      

           }
           .item{
                grid-template-columns: repeat(1fr 1fr 1fr);
                align-items: center;
                justify-content: center;
                text-align: center;
                 
             }
           .item1{grid-column: 1;
            background-color:red;

            grid-row:1/4}
           .item2{grid-column: 2/4;
                  background-color: aqua;}
           .item3{grid-column: 4;
                  background-color:green;}
           .item4{ grid-column: 2;
                   background-color: brown; }
           .item5{grid-column: 3;
                  background-color: blue;}
           .item6{grid-column: 2;
                 background-color: blueviolet;}
           .item7{grid-column: 3;
         background-color: #b27c2a;}
           .item8{ grid-column: 4;
        grid-row: 2/4;
          background-color: #1fcccc;}